# Ignorar archivos compilados de Java
*.class

# Ignorar archivos de formularios de IDEs
*.form

# Ignorar carpetas de salida de compilación
/target/
/build/
/out/

# Ignorar archivos de configuración de IDEs comunes
.idea/
*.iml
*.ipr
*.iws

# Ignorar archivos de sistema
.DS_Store
Thumbs.db
